a{
	cursor: pointer !important;
}

footer {
padding-top: 13px;
background-color: #f5f5f5;
}

#wrap{
	padding-bottom: 60px;
}

td, th {
    vertical-align: top !important;
}

.smallInfo{
	color: #337AB7;
}

.profile{
	margin: 5px 10px !important;
}
